<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody th:each="row: ${customers}">
                <tr>
                    <td th:text="${row.name}"></td>
                    <td th:text="${row.email}"></td>
                    <td th:text="${row.address}"></td>
                    <td>
                        <a href="/customers/edit/" class="btn btn-primary">Edit</a>
                        <a href="/customers/delete/" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>