<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>

    <head>
        <title>List</title>
    </head>
<body>
<a th:href="@{/products/create}">Add new product</a>
<h1>Product List</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="product : ${productList}">
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getQuantity()}"></td>
        <td>
            <a th:href="@{/products/{id}/edit(id=${product.getId()})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/products/{id}/delete(id=${product.getId()})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>