<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Return Book</title>
</head>
<body style="text-align: center">
<h3>Return Book</h3>
<!--<p>-->
<!--    <a th:href="@{/book}">-->
<!--        Back to Book library-->
<!--    </a>-->
<!--</p>-->
<div id="form">
    <form th:action="@{/book/return2}" th:object="${note}" method="POST" novalidate="novalidate">
        <div>
            <label for="firstname">Borrow Code</label>
            <!--            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>-->
            <input type="text" id="firstname" th:field="*{code}"/>
            <input type="hidden" th:field="*{book}"/>
        </div>
        <input type="submit" value="Return"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>