<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>SHOW BLOGS</h1>
    <h3>Categories</h3>
    <p>
        <a th:href="@{/blog/create}">
            Add new category
        </a>
    </p>
<!--    <p>-->
<!--        <a th:href="@{/tasks}">-->
<!--            Task list-->
<!--        </a>-->
<!--    </p>-->
    <div class="notify">
        <div th:if="${message}">
            <span th:text="${message}"></span>
        </div>
    </div>

    <table id = "tasks">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Title</th>
            <th>Action</th>
<!--            <th>Delete</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="b, cStatus : ${blogs}">
            <td th:text="${cStatus.count}"></td>
            <td><a th:href="@{/blog/view-blog/{id}(id=${b.id})}" th:text="${b.title}"></a></td>
            <td th:text="${b.title}"></td>
            <td><a th:href="@{/blog/update/{id}(id=${b.id})}">update</a></td>
            <td><a th:href="@{/blog/delete/{id}(id=${b.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
<!--    <footer th:replace="/layout :: footer"></footer>-->
</body>
</html>