<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>ListCustomer</title>
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customers/create}">
        Add new customer
    </a>
</p>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${cus}">
        <td th:text="${row.nameCustomer}"></td>
        <td th:text="${row.email}"></td>
        <td th:text="${row.address}"></td>
        <td><a th:href="@{/customers/{id}/edit(id=${row.idCustomer})}">edit</a>
            | <a th:href="@{/customers/{id}/delete(id=${row.idCustomer})}">delete</a>
            | <a th:href="@{/customers/{id}/view(id=${row.idCustomer})}">view</a>
        </td>
    </tr>
    </tbody>
</table>
<th:block th:replace="~{layout/footer}"></th:block>
</body>
</html>